# Serveur Backend
PORT=3000

# Base de donnees (SQLite est configure en local dans Prisma)
#DATABASE_URL="file:./dev.db"

# Securite JWT
JWT_SECRET="votre_super_secret_pour_jwt"

# URL du backend Python pour le proxy Express API
BACKEND_URL="http://localhost:8000"

# Frontend
VITE_API_URL="http://localhost:3000"
